body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
}

.report {
    margin-top: 20px;
}

.report h2 {
    margin-bottom: 10px;
}

.data {
    margin-bottom: 20px;
}

.data p {
    margin: 5px 0;
}

.data p strong {
    font-weight: bold;
}

#anemia-type {
    font-weight: bold;
}
