<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommender</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="stylesheet" href="static/upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- <h1>Recommendation</h1> -->
    <div>
    <div class="card-container">
        <div class="card">
            <h2>Results:</h2>
            <ul>
                {% for data in extracted_data %}
                    <li>Age: {{ data.Age }}</li>
                    <li>Sex: {{ data.Sex }}</li>
                    <li>Hemoglobin: {{ data.Hemoglobin }} g/dL</li>
                    <li>Mean Corpuscular Volume: {{ data.MCV }} fL</li>
                {% endfor %}
            </ul>
            <h2>Anemia Type:</h2>
            <p>{{ anemia_type }}</p>
        </div>
        
        <div>
            <div class="card">
                {% 
                    <li>Description</li>
                %}
            </div>
        </div>

        <div class="card">
            <h2>Choose Ingredients</h2>
            <p>Salt, pepper and other common ingredients are assumed to be available</p>
            <div class="ingredients">
                <div class="ingredient">
                    <label for="pork">Pork</label>
                    <input type="checkbox" id="pork" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="pork">Pork</label>
                    <input type="checkbox" id="pork" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="salmon">Salmon</label>
                    <input type="checkbox" id="salmon" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="onion">Onion</label>
                    <input type="checkbox" id="onion" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="lemon">Lemon</label>
                    <input type="checkbox" id="lemon" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="milk">Milk</label>
                    <input type="checkbox" id="milk" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="flour">Flour</label>
                    <input type="checkbox" id="flour" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="yogurt">Yogurt</label>
                    <input type="checkbox" id="yogurt" name="ingredient">
                </div>
                <div class="ingredient">
                    <label for="powder">Sugar</label>
                    <input type="checkbox" id="powder" name="ingredient">
                </div>
                </div>
            <button type="submit">What can I cook with these?</button>
        </div>
    </div>
</body>
</html>